{{!-- name --}}
	<div class="form-row mb-2">
		<div class="col-sm mb-2 mb-sm-0">
			<input type="text" id="{{ prefix }}first-name" class="form-control" name="{{ prefix }}first-name" placeholder="First Name" {{#is prefix "billing-"}}required{{/is}}>
		</div>
		<div class="col-sm">
			<input type="text" id="{{ prefix }}last-name" class="form-control" name="{{ prefix }}last-name" placeholder="Last Name" {{#is prefix "billing-"}}required{{/is}}>
		</div>
	</div>
{{!-- address --}}
	<input type="text" id="{{ prefix }}address-1" class="form-control mb-2" name="{{ prefix }}address-1" placeholder="Street Adress 1" {{#is prefix "billing-"}}required{{/is}}>
	<input type="text" id="{{ prefix }}address-2" class="form-control mb-2" name="{{ prefix }}address-2" placeholder="Street Adress 2">
{{!-- country --}}
	<select id="{{ prefix }}country" name="{{ prefix }}country" class="form-control mb-2" {{#is prefix "billing-"}}required{{/is}}>
		<option value="">Country</option>
		{{> country }}
	</select>
<div class="form-row mb-2">
	{{!-- city --}}
		<div class="col-sm mb-2 mb-sm-0">
			<input type="text" id="{{ prefix }}city" class="form-control" name="{{ prefix }}city" placeholder="City" {{#is prefix "billing-"}}required{{/is}}>
		</div>
	{{!-- state --}}
		<div class="col-sm mb-2 mb-sm-0">
			<select id="{{ prefix }}state" name="{{ prefix }}state" class="form-control" {{#is prefix "billing-"}}required{{/is}}>
				<option value="">State/Province</option>
				<option value="Michigan">MI - Michigan</option>
			</select>
		</div>
	{{!-- zip --}}
		<div class="col-sm">
			<input type="text" id="{{ prefix }}zip" class="form-control" name="{{ prefix }}zip" placeholder="Zip / Postal" {{#is prefix "billing-"}}required{{/is}}>
		</div>
</div>
